

/* ---Universal selector---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

body{
    background-color: rgb(0, 0, 0);
}

/* ----Shared styles---- */

.display-flex{
    display: flex;
}

.row{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 20px;
}


:root{
    --text-color: rgb(255, 255, 255);
    --primary-color: #E6533C;
    --p-color: rgba(255, 255, 255, 0.5);
}



.inter-font {
  font-family: "Inter", sans-serif;
}
.dancing-script{
    font-family: "Dancing Script", cursive;
}


/* header section styles------------- */
#header{
    margin-top: 20px;
    color: var(--text-color);
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
}
.fitness{
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: bold;
}
.navbar-section{
    justify-content: space-between;
    align-items: center;
}

ul{
    border: 2px solid #FFFFFF1A;
    border-radius: 46px;
    padding: 4px;
}
.navbar-list > ul> li:first-child{
    background-color: var(--primary-color);
}
li{
    margin-right: 1rem;
    padding: 10px 20px;
    border-radius: 46px;
}

.menu-icon{
    display: none;
}


/* banner styles */
.banner-container{
    margin-top: 2rem;
}
.banner-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.banner-content{
    /* flex: 1; */
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}
.banner-content> h3{ 
    font-size: 78px;
    font-weight: 900;
    color: var(--text-color);
}
.banner-content > p{
    color: var(--p-color);
    font-size: 16px;
}
.Join-club{
    padding: 16px 40px;
    border-radius: 46px;
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    border: none;
    margin-right: 10px;
}

.download-app{
    padding: 16px 40px;
    border-radius: 46px;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    background: black;
    border: 1px solid white;
}

.banner-img{
    /* flex: 1; */
    justify-content: center;
    position: relative;
}
.banner-img > img{
    width: 350px;
    height: 580px;
}

.round{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--primary-color);
    margin-right: 12px;
}
.video-tutorial, .free-workout{
    background-color: rgba(48, 48, 48, 0.54);
    padding: 23px;
    justify-content: center ;
    align-items: center;
    border-radius: 12px;
}
.inner-text > h4{
    font-size: 16px;
    font-weight: 400;
    color: var(--p-color);

}

.video-tutorial{
    position: absolute;
    left: -22px;
    bottom: 64px;
}
.free-workout{
    position: absolute;
    left: 302px;
    top: 130px;
    width: 206px;
}
.free-workout-time{
    font-size: 40px !important;
    font-weight: 900;
}



/* Change Your Habits styles */
.your-habits-section{
    margin: 80px 0;
}
.section-title-content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.section-title{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 13px;
}
.section-discription{
    color: var(--p-color);
}


.habits-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--text-color);
    margin-top: 50px;
    column-gap: 50px;
}

.habits-items {
    flex-direction: column;
    text-align: center;
}
.habits-items > img{
    border-radius: 50%;
    border: 3px solid gray;
}
.habits-items > h4{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.habits-items > p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
    padding: 0 5px;
    color: var(--p-color);
}


/*  */

.run-an-extra-container{
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    background: #222222;
    padding: 30px;
    border-radius: 15px;
}
.run-content{
    padding-left: 20px;
}
.run-title{
    font-size: 48px;
    font-weight: 900px;
    color: var(--text-color);
}

.run-dis{
    font-size: 14px;
    font-weight: 400px;
    color: var(--p-color);
    padding: 15px 0;
    width: 70%;
}
.run-img img{
   display: flex;
   justify-self: end;
   border-radius: 15px;
}
.run-img img{
    width: 366px;
}

.Join-now-btn{
    padding: 10px 60px;
    border-radius: 46px;
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    border: none;
}



/* Meet Our Team styles */

.meet-our-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #222222;
    padding: 15px;
    border-radius: 15px;
    margin: 70px 0;
}
.team img{
    width: 100%;
}
.team{
    display: flex;
    align-items: end;
    padding: 20px;
}
.meet-name{
    color: var(--text-color);
    font-size: 24px;
}
.trainer{
    color: var(--p-color);
}


/* footer */


.footer-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    padding: 70px 0;
}
.footer-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-title h2{
    font-size: 70px;
    font-weight: 800;
    color: var(--primary-color);
}
.footer-title p{
    font-size: 14px;
    font-weight: 400;
    color: var(--p-color);
    width: 80%;
    line-height: 24px;
    padding-top: 20px;
}

.footer-contact > div> h6{
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 30px;
}
.footer-contact > div> li{
    padding-left: 0;
    font-size: 23px;
    font-weight: 400;
    color: var(--p-color);
}

.all-right{
    text-align: center;
    color: var(--p-color);
    padding: 35px 0;
    font-weight: 400;
    font-size: 20px;
}



/* Responsive design */


@media screen and (max-width: 576px){
    .menu-icon{
        display: block;
    }
    .nav-list{
        display: none;
    }

    /* banner */

    .banner-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .Join-club, .download-app {
        padding: 16px 20px;
    }
    .video-tutorial{
        left: -5px;
    }
    .free-workout{
        left: 296px;
        top: 53px;
    }


    /* your habits */

    .section-title-content{
        width: 90%;
    }

    .habits-items > img{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .habits-content{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }

    .run-an-extra-container{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }
    .run-img img{
        display: block;
        width: 100%;
     }
     .run-dis{
        width: 100%;
    }
     .Join-now-btn{
        width: 100%;
     }

     /* meet our team */

     .meet-our-container{
        grid-template-columns: repeat(1, 1fr);
    }



     /* footer styles */
     .footer-content{
        grid-template-columns: 1fr;
    }
    .footer-contact{
        grid-template-columns: 1fr;
        margin-top: 30px;
        row-gap: 40px;
    }
}